In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import keras
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

from keras.models import Sequential
from keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout
from keras.activations import relu, sigmoid
from sklearn.metrics import confusion_matrix, accuracy_score

In [6]:
data = pd.read_csv('Churn_Modelling.csv')

In [7]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [8]:
data.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
data.describe().sum()

RowNumber          4.288990e+04
CustomerId         9.422677e+07
CreditScore        1.390118e+04
Age                1.027241e+04
Tenure             1.003290e+04
Balance            6.246242e+05
NumOfProducts      1.001111e+04
HasCrCard          1.000416e+04
IsActiveMember     1.000401e+04
EstimatedSalary    6.681891e+05
Exited             1.000161e+04
dtype: float64

In [10]:
X = data.iloc[:,3:13]
y = data.iloc[:, 13]

In [11]:
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [12]:
X=pd.concat([X,geography,gender],axis=1)

In [13]:
X=X.drop(['Geography','Gender'],axis=1)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [15]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [16]:
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=X_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
            
    model.add(Dense(units = 1, kernel_initializer= 'glorot_uniform', activation = 'sigmoid')) # Note: no activation beyond this point
    
    model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])
    return model
    
model = KerasClassifier(build_fn=create_model, verbose=0)

In [24]:
layers = [(20), (40, 20), (45, 30, 1)]

In [25]:
activations = ['sigmoid', 'relu']

In [26]:
param_grid = dict(layers=layers , activation= activations , batch_size = [128, 256], epochs=[30])

In [27]:
grid = GridSearchCV(estimator=model, param_grid=param_grid,cv=5)

In [28]:
grid_result = grid.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
TypeError: 'int' object is not iterable

  FitFailedWarning)

In [30]:
print(grid_result.best_score_, grid_result.best_params_)

0.8553750038146972 {'activation': 'relu', 'batch_size': 128, 'epochs': 30, 'layers': (40, 20)}

In [32]:
predict = grid.predict(X_test)

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [36]:
predict

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [38]:
cm = confusion_matrix(predict, y_test)

In [39]:
score = accuracy_score(predict,y_test)

In [40]:
score

0.864